:root {
  /* Colors
  ____________________*/
  --color-primary: #25ab75;
  --color-primary-dark: #208c61;
  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: #242424;
  --color-bg-footer: #151515;
  --color-white: #ffffff;
  --color-text: #676767;
  --color-border: #373737;

  /* Font & Typography
  ___________________*/
  --ff-body: "Space Grotesk", sans-serif;
  /* font sizes */
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.2rem;
  --fs-biggest: clamp(3rem, 8vw, 5rem);
  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* z-index
  ___________________*/
  --zindex-menu: 1000;
  --zindex-fixed: 1010;

  /* With & Height 
  ------------------*/
  --width-container: 98rem;
  --height-header: 10rem;
  --height-header--scroll: 8rem;

  /* Transition and box shadow*/
  --transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}





/* CSS Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

main {
  overflow: hidden;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--ff-body);
  font-size: var(--fs-md);
  color: var(--color-text);
  margin-top: var(--height-header);
  line-height: 1.2;
}

/* Reusable CSS
--------------------------------------------------------------*/
.container {
  width: 90%;
  max-width: var(--width-container);
  margin: auto;
}

.section {
  padding: 5rem 0;
}

.section__header {
  margin: 8rem 0;
  text-align: center;
}

.section__title {
  font-size: var(--fs-xl);
  margin-bottom: 0.5rem;
}

.section__subtitle {
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
  position: relative;
}

.section__subtitle::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 0.5rem;
  background-color: var(--color-primary);
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.d-grid {
  display: grid;
  gap: 3rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  transition: var(--transition);
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn--primary:hover {
  background-color: var(--color-primary-dark);
}

.btn--secondary {
  background-color: var(--color-white);
  color: var(--color-bg-primary);
}

.btn--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Header
--------------------------------------------------------------*/
.header {
  background-color: var(--color-bg-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--height-header);
  z-index: var(--zindex-menu);
  transition: var(--transition);
}

.header--scroll {
  height: var(--height-header--scroll);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav__brand {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__brand i {
  color: var(--color-white);
}

.nav__list {
  display: flex;
  column-gap: 4rem;
}

.nav__link {
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--color-primary);
}

.nav__toggle {
  display: none;
  font-size: var(--fs-xl);
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}

.nav__toggle:hover {
  color: var(--color-primary);
}

@media screen and (max-width: 968px) {
  .nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg-primary);
    display: none;
    justify-content: center;
    transition: var(--transition);
  }

  .nav__menu--open {
    display: flex;
  }

  .nav__toggle {
    display: block;
  }

  .nav__brand,
  .nav__toggle {
    z-index: var(--zindex-fixed);
  }
}

/* Hero
--------------------------------------------------------------*/
.hero__wrapper {
  min-height: calc(100vh - var(--height-header));
  padding: 5rem 0;
}

.hero__content {
  text-align: center;
}

.hero__title {
  font-size: var(--fs-biggest);
  margin-bottom: 5rem;
  position: relative;
}

.hero__title::after {
  position: absolute;
  content: "";
  background-color: var(--color-primary);
  width: 10rem;
  height: 0.5rem;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.hero__description {
  margin-bottom: 5rem;
}

.hero__info {
  border-top: 1px solid var(--color-border);
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.hero__info-number {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 1rem;
}

.hero__info-title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-regular);
  color: var(--color-text);
}

@media screen and (max-width: 968px) {
  .hero__img {
    width: 280px;
    justify-self: center;
  }
}

/* About
--------------------------------------------------------------*/
.about__content {
  max-width: 50rem;
  margin: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.about__title {
  font-size: var(--fs-xxl);
  margin-bottom: 3rem;
}

.about__description {
  margin-bottom: 3rem;
}

.skills {
  justify-self: center;
}

.skills__title {
  font-size: var(--fs-lg);
  text-align: center;
  margin-bottom: 3rem;
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skills__content {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 3rem;
}

.skills__item {
  margin-bottom: 1rem;
}

.skills__subtitle {
  text-align: center;
  margin-bottom: 2rem;
}

.skills__item i {
  color: var(--color-primary);
}

/* Qualification
--------------------------------------------------------------*/
.qualification__wrapper {
  margin-bottom: 5rem;
}

.qualification__content {
  row-gap: 5rem;
}

.qualification__name {
  display: flex;
  column-gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.qualification__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  margin-bottom: 1rem;
}

.qualification__description {
  margin-bottom: 2rem;
}

.qualification__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
}

.qualification__footer {
  border-top: 1px solid var(--color-border);
  margin-top: 10rem;
  padding-top: 4rem;
  text-align: center;
}

.qualification__footer-text {
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 2rem;
}

/* Services
--------------------------------------------------------------*/
.service__card {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 5rem 3.5rem;
  width: 100%;
  max-width: 30rem;
  justify-self: center;
  transition: var(--transition);
}

.service__card:hover {
  background-color: var(--color-primary);
}

.service__card:hover .service__link {
  color: var(--color-white);
}

.service__icon {
  font-size: 3.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}

.service__title {
  font-size: var(--fs-lg);
  margin-bottom: 3rem;
}

/* Projects
--------------------------------------------------------------*/
.project__content {
  width: 100%;
  max-width: 30rem;
  justify-self: center;
}

.project__img {
  margin-bottom: 2rem;
}

.project__title {
  color: var(--color-white);
  font-size: var(--fs-lg);
  margin-bottom: 1rem;
}

.project__description {
  margin-bottom: 2rem;
}

.project__link {
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: var(--transition);
}

.project__link:hover {
  color: var(--color-primary);
  column-gap: 1rem;
}

/* Testimonials
--------------------------------------------------------------*/
.testimonial__card {
  background-color: var(--color-bg-secondary);
  box-shadow: var(--box-shadow);
  padding: 3rem 5rem;
  width: 100%;
  max-width: 50rem;
  text-align: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.testimonial__img {
  max-width: 10rem;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

.testimonial__description {
  color: var(--color-white);
  margin-bottom: 3rem;
}

.testimonial__name {
  font-size: var(--fs-md);
  margin-bottom: 0.5rem;
}

.testimonial__occupation {
  font-size: var(--fs-sm);
}

/* testimonial slide */
.testimonial__wrapper .swiper-wrapper {
  padding-bottom: 5rem;
}

.testimonial__wrapper .swiper-pagination-bullets {
  justify-content: space-around;
}

.testimonial__wrapper .swiper-pagination-bullet {
  background-color: var(--color-text);
  border-radius: 0;
  width: 3rem;
  height: 0.5rem;
}

.testimonial__wrapper .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/* Contact
--------------------------------------------------------------*/
.contact__wrapper {
  border-top: 1px solid var(--color-border);
  padding-top: 3rem;
  text-align: center;
}

.contact__title {
  font-size: var(--fs-xxl);
  margin-bottom: 2rem;
}

.contact__content {
  max-width: 45rem;
  margin: auto;
}

.contact__description {
  margin-bottom: 2rem;
}

/* Footer
--------------------------------------------------------------*/
.footer {
  background-color: var(--color-bg-footer);
  padding: 5rem 0;
}

.footer__wrapper {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 5rem 0;
  gap: 5rem;
}

.footer__title {
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.footer__social-list {
  display: flex;
  gap: 3rem;
}

.footer__social-link {
  font-size: 2rem;
  color: var(--color-white);
  transition: var(--transition);
}

.footer__contact {
  font-size: var(--fs-lg);
  color: var(--color-white);
  font-weight: var(--fw-bold);
  text-decoration: underline;
  transition: var(--transition);
}

.footer__social-link:hover,
.footer__contact:hover {
  color: var(--color-primary);
}

.footer__copyright {
  font-size: var(--fs-sm);
  text-align: center;
  padding-top: 3rem;
}

/* Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-bg-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

/* Breakpoints
--------------------------------------------------------------*/

/* Medium devices*/
@media screen and (min-width: 560px) {
  .service__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .qualification__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification__footer {
    text-align: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qualification__footer-text {
    margin: 0;
  }

  .project__wrapper {
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
  }

  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero__content {
    text-align: initial;
  }

  .hero__title::after {
    transform: none;
    left: 0;
  }

  .hero__info {
    justify-content: initial;
  }

  .hero__img {
    justify-self: flex-end;
  }
}

/* Large devices */

@media screen and (min-width: 968px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__content {
    margin: 0;
  }

  .about__content,
  .skills__title {
    text-align: initial;
  }

  .qualification__content,
  .service__wrapper,
  .project__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact__content {
    margin: 0;
    text-align: initial;
  }

  .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section {
  padding: 60px 0;
  background-color: #1c1c1c;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__header {
  text-align: center;
  margin-bottom: 40px;
}

.section__title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section__subtitle {
  font-size: 1.2em;
  color: #aaa;
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__content {
  flex: 1 1 100%;
  max-width: 480px;
  margin: 20px;
}

.skills {
  flex: 2 1 100%;
  margin: 20px;
}

.skills__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__content {
  flex: 1 1 45%;
  margin: 20px 0;
}

.skills__subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.skills__list {
  list-style: none;
  padding: 0;
}

.skills__item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.skills__item i {
  margin-right: 10px;
  color: #00ff00;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ff00;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

.btn--primary {
  background-color: #00ff00;
  color: #000;
}
.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero__content {
  max-width: 600px;
}

.hero__title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero__description {
  margin-bottom: 20px;
}

.hero__info {
  display: flex;
  margin-bottom: 20px;
}

.hero__info-wrapper {
  margin-right: 20px;
  text-align: center;
}

.hero__info-number {
  font-size: 2em;
  font-weight: bold;
  color: #b4ecb4;
}

.hero__info-title {
  font-size: 1em;
  font-weight: normal;
  color: #fff;
}

.hero__socials {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.hero__social-link i {
  font-size: 2em;
  color: #fff;
  transition: color 0.3s;
}

.hero__social-link i:hover {
  color: #00ff00;
}

.hero__img {
  max-width: 400px; /* Adjust the size as needed */
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.section {
  padding: 60px 0;
  background-color: #1c1c1c;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__header {
  text-align: center;
  margin-bottom: 40px;
}

.section__title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.section__subtitle {
  font-size: 1.2em;
  color: #aaa;
}

html {
  scroll-behavior: smooth;
}
.section.active {
  border-left: 4px solid var(--color-primary);
  padding-left: 16px;
}

/* Updated Publications Section */
/* Publications Section */
.publications__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.publication {
    background-color: transparent;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-border);
    transition: background-color 0.3s ease;
}

.publication:hover {
    background-color: var(--color-bg-secondary);
}

.publication__title {
    font-size: var(--fs-lg);
    margin-bottom: 0.5rem;
    color: var(--color-white);
}

.publication__conference,
.publication__authors {
    font-size: var(--fs-md);
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.publication__link {
    color: var(--color-primary);
    text-decoration: underline;
}

.more-publications {
    text-align: center;
    margin-top: 2rem;
    font-size: var(--fs-md);
    color: var(--color-text);
}

.more-publications a {
    color: var(--color-primary);
    text-decoration: underline;
    transition: color 0.3s;
}

.more-publications a:hover {
    color: var(--color-primary-dark);
}

/* Highlight Class for Name */
.highlight {
    color: var(--color-primary);
    font-weight: var(--fw-bold);
}
.qualification__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.qualification__description {
  font-size: var(--fs-sm);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.qualification__date {
  font-size: var(--fs-sm);
  font-weight: var(--fw-semibold);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.qualification__coursework {
  font-size: var(--fs-sm);
  color: var(--color-text);
  margin-bottom: 1rem;
}

.qualification__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

.qualification__list li {
  margin-bottom: 0.5rem;
}

.qualification__wrapper {
  margin-bottom: 5rem;
}

.qualification__content {
  display: grid;
  gap: 3rem;
}

.qualification__name {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
}

.qualification__name i {
  color: var(--color-primary);
}

.qualification__logo {
  margin-bottom: 1rem;
}

.logo {
  max-width: 100px; /* Adjust size as needed */
  display: block;
  margin: auto;
}

.section__header {
  margin-bottom: 5rem;
}

.section__title {
  font-size: var(--fs-xl);
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: var(--fs-md);
  color: var(--color-text);
  text-align: center;
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.portfolio-info {
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfolio-links {
  text-align: center;
}

.portfolio-links a {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}



/* Work Experience */
.section.work-experience {
  padding: 5rem 0;
}

.work-experience__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-experience__card {
  background-color: #242424;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.work-experience__logo {
  flex-shrink: 0;
}

.work-experience__logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.work-experience__title {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.work-experience__company,
.work-experience__date,
.work-experience__description,
.work-experience__skills,
.work-experience__tools {
  font-size: 1.2rem;
  color: #b5b5b5;
}

.work-experience__skills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.work-experience__skills li {
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
/* Updated Publications Section */
.section.publications {
  padding: 5rem 0;
  background-color: var(--color-bg-primary);
  color: var(--color-white);
}

.section__header {
  text-align: center;
  margin-bottom: 2rem;
}

.section__title {
  font-size: var(--fs-xl);
  margin-bottom: 0.5rem;
  color: var(--color-white);
}

.more-publications {
  font-size: var(--fs-md);
  color: var(--color-text);
  margin-bottom: 2rem;
}

.more-publications a {
  color: var(--color-primary);
  text-decoration: underline;
  transition: color 0.3s;
}

.more-publications a:hover {
  color: var(--color-primary-dark);
}

.publications__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.publication {
  background-color: var(--color-bg-secondary);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.publication:hover {
  background-color: var(--color-primary);
  transform: translateY(-5px);
}

.publication__title {
  font-size: var(--fs-lg);
  margin-bottom: 0.5rem;
  color: var(--color-white);
  font-weight: var(--fw-bold);
}

.publication__conference,
.publication__authors {
  font-size: var(--fs-md);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.publication__link {
  color: var(--color-primary);
  text-decoration: underline;
  transition: color 0.3s;
}

.publication__link:hover {
  color: var(--color-white);
}

.highlight {
  color: var(--color-primary-dark);
  font-weight: var(--fw-bold);
}

/* Qualification Section */
.qualification__wrapper {
  margin-bottom: 5rem;
}

.qualification__name {
  display: flex;
  align-items: center;
  font-size: var(--fs-lg);
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.qualification__name i {
  margin-right: 1rem;
  color: var(--color-primary);
}

.d-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.qualification__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  text-decoration: none; /* Make the entire item a link */
  color: var(--color-text);
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: var(--box-shadow);
}

.qualification__item:hover {
  background-color: var(--color-primary);
  transform: translateY(-5px);
}

.qualification__logo {
  flex-shrink: 0;
}

.qualification__logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.qualification__details {
  flex-grow: 1;
}

.qualification__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.qualification__description {
  font-size: var(--fs-sm);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.qualification__date {
  font-size: var(--fs-sm);
  color: var(--color-text);
}
/* Work Experience Section */
.work-experience__wrapper {
  position: relative;
  margin-top: 2rem;
  padding-left: 2rem;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline__event {
  position: relative;
  margin-bottom: 4rem;
}

.timeline__event::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: 0;
  width: 2px;
  height: 100%;
  background: var(--color-primary);
}

.timeline__content {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-bg-secondary);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.timeline__content:hover {
  background-color: var(--color-primary);
  transform: translateY(-5px);
}

.timeline__logo {
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.timeline__logo img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.timeline__details {
  flex-grow: 1;
}

.timeline__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.timeline__company,
.timeline__date,
.timeline__description,
.timeline__skills,
.timeline__tools {
  font-size: var(--fs-md);
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.timeline__skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.timeline__skills li {
  background-color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.timeline__tools strong {
  color: var(--color-white);
}
/* Projects Section */
.project {
  padding: 2rem 0;
}

.section__header {
  text-align: center;
  margin-bottom: 2rem;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.more-publications {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.project__wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project__content {
  display: flex;
  flex-direction: column;
  background: #dfece5;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project__content:hover {
  transform: translateY(-5px);
}

.project__img-wrapper {
  width: 200%;
  height: 200px;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.project__content:hover .project__img {
  transform: scale(1.1);
}

.project__info {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__title {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #333;
}

.project__description {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #666;
  flex-grow: 1;
}

.project__link {
  color: #007BFF;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.project__link i {
  margin-left: 0.5rem;
  transition: transform 0.3s;
}

.project__link:hover i {
  transform: translateX(5px);
}

.blog {
    padding: 2rem 0;
}

.section__header {
    text-align: center;
    margin-bottom: 2rem;
}

.section__title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.more-publications {
    font-size: 1rem;
}

.blog__wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blog__content {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.blog__content:hover {
    transform: translateY(-5px);
}

.blog__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog__info {
    padding: 1rem;
}

.blog__title {
    font-size: 1.25rem;
    margin: 0.5rem 0;
    color: #333;
}

.blog__description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
}

.blog__link {
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.blog__link i {
    margin-left: 0.5rem;
    transition: transform 0.3s;
}

.blog__link:hover i {
    transform: translateX(5px);
}
